* {
  font-family: "Poppins";
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #51ee8a;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}
